body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    display: flex;
    align-items: center;
}
.logo span {
    color: blue;
    margin-right: 10px;
}

.search-bar {
    flex-grow: 1;
    max-width: 400px;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.button:hover {
    background-color: #0056b3;
}

main {
    text-align: center;
    margin-top: 100px;
    padding: 0 20px;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
    margin-top: 10px;
}